#help {
    bottom: 5px;
    right: 5px;
    position: fixed;
}
#options{
    bottom: 5px;
    left: 5px;
    position: fixed;
}


#menu{height: 900px;}
#close{
    width:30px;
    height:30px;
    cursor:pointer;
    position:absolute;
    right:5px;
    top:5px;
    text-indent:-999em;
    background-color:blue;
    }
#mask{
    background-color:pink;
    opacity:0.5;
    filter: alpha(opacity=50);
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    }
#login{
    position:fixed;
    z-index:2;
    }
.loginCon{
    position:relative;
    width:670px;
    height:380px;
    /*background:url(img/loginBg.png) #2A2C2E center center no-repeat;*/
    background-color: #ccc;
    }